<nav>
    <div class="site-title">
        <a href="/"><h1>Video Game Guides</h1></a>
        <p>An AFro-DEV Site</p>
    </div>
    <ul class="nav">
        <li><a href="/">Guides</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/guides/create">New Guides</a></li>
    </ul>
</nav>